<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">

    DevConnectors</a>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link active" href="#">Developers</a>
      <a class="nav-item nav-link" routerLink="/post">Post</a>
      <a class="nav-item nav-link" routerLink="/dashboard">Dashboard</a>
      <a class="nav-item nav-link" routerLink="/">logout</a>


    </div>
  </div>
</nav>
<br>

<h1 class="heading">Posts</h1>
<h2 class="welcome">Welcome to the community</h2>
<br>

<mat-card>Say Something...</mat-card><br>
<textarea class="tarea">Create a post </textarea><br><br>
<button type="submit"class="btn" mat-raised-button > Submit</button>

