.mat-form-field{
  width: 80%;
  padding-left: 25px;
}

.btn1{
  margin-left: 35px;
}

.btn2{
  margin-left: 15px;
}

.profile{
  padding-left: 25px;
font-weight: bold;
font-size: 40px;
color: rgb(0, 195, 255);

}

.info{
  padding-left: 25px;

}
